/* Variables */
:root {
    --text-header: rgb(51, 95, 99);
    --text-primary: rgb(39, 105, 186);
    --text-primary-muted: rgba(39, 105, 186, 0.25)
}

/* Configuration */
body, html {
    font-family: "Open Sans";
}

body {
    /* font-family: "Open Sans", sans-serif; */
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 0;
    padding: 0;
}

.content {
    max-width: 750px;
    width: 100%;
    height: calc(100vh - 2em);
    padding: 1em;
    display: flex;
    flex-direction: column;
}

.body {
    flex: 1;
}

h1 {
    margin: 0;
    margin-top: 1em;
    font-weight: normal;
    font-size: 20px;
    color: var(--text-primary)
}

p {
    font-size: 15px;
    margin: 0;
}

a {
    color: var(--text-primary);
}

/* Header */
header {
    width: 100%;
    margin: 0;
    margin-bottom: 2em;
}

header h1 {
    margin: 0;
    font-size: 25px;
    color: var(--text-header)
}

header p {
    margin: 0;
    font-size: 13px;
}

header a {
    color: var(--text-header)
}

/* Footer */
footer {
    min-height: 50px;
}

footer p {
    font-size: 13px;
}

/* class: File drop box */
.drop-area {
    margin-top: 1em;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* width: 100%; */
    height: 50px;
    padding: 20px;

    text-align: center;
    border: 2px dotted var(--text-primary);
    background-color: var(--text-primary-muted);
    color: var(--text-primary);

    cursor: pointer;
}

.file-drop-box {
    width: 100%;
    height: 100%;
}

form {
    width: 100%;
}